<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Chessmaster</title>
    <link type="text/css" rel="stylesheet" href="css/chessboard-1.0.0.min.css">
    <style type="text/css" rel="stylesheet">
        #board {
            margin-top: 10%;
            right: 10%;
            position: absolute;
        }

        .vl {
            border-left: 1px solid rgba(188, 188, 188, 0.8);
            height: 80%;
            position: absolute;
            left: 50%;
            margin-top: 5%;
        }
    </style>
</head>
<body>
<div>
    <div></div>
    <div class="vl"></div>
    <div id="board" style="width: 512px"></div>
</div>

<script type="application/javascript" src="js/jquery-3.5.1.min.js"></script>
<script type="application/javascript" src="js/chessboard-1.0.0.min.js"></script>
<script type="application/javascript">
    $(function () {
        const board = ChessBoard('board', {
            draggable: true,
            dropOffBoard: 'trash'
        })
        board.start()
    });
</script>
</body>
</html>